{:paths ["public" "resources" "src"]
 :deps {org.clojure/clojure {:mvn/version "1.11.4"}
        cheshire/cheshire {:mvn/version "5.13.0"}
        http-kit/http-kit {:mvn/version "2.8.0"}
        io.github.escherize/huff {:mvn/version "0.2.12"}}}
